/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

#home {
  @apply spacing
}

#page-container {
  margin: 30px;
}

#page-content {
  margin: 10px;
}

h1 {
  @apply text-4xl font-extrabold dark:text-white
}

th {
  @apply px-6 py-3
}

td {
  @apply px-6 py-4
}

.spacing {
  margin: 20px;
}

.bottom-spacing {
  margin-bottom: 20px;
}

.show-balance-button {
  @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600
}

.table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}

.thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
}
